body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    font-size: smaller;
    background-image: url(../images/greek-vase.png);
    margin: 0px;
    border: 0px
    } 

.main-container {
    width: 960px;
    margin: 20px auto;
    background-color:white;
    border-width: 15px;

}
.content-container {
    margin: 0;
    padding:20px;
    border:solid gray;
    border-width: .5px;
}


h1 {
    float: left;
    margin:0;
    padding:0px;
    color:white;
    font-family:'Georgia', Times, 'Times New Roman', serif;} 
    
.header {
    clear: both;
    overflow: hidden;
    background-color:white;
    height: 70px; 
    border-bottom: 1px solid black;

}

span {
    background-color:#4aaaa5;
    padding:30px;
}

h2 {
    color:teal;
    font-family:'Georgia', Times, 'Times New Roman', serif;}

img {
    margin:0px;
    float:left;
    padding: 15px;
}

.nav {
    text-decoration: none;
    color:#777777;
    float:right;
    font-size:11px;
    padding:10px;
}
a{color:#777777;
text-decoration: none;}

footer {
    background-color:#777777;
    height: 30px;
    border-top: 8px solid#4aaaa5;
}

.copyright{
    position: relative;
    bottom: 0;
    text-align: center;


}